
/* general styles */

body {

}


h1, h2, h3 {
    font-family: 'Nunito Sans', sans-serif;
}

h1 {
    font-size: 70px;
    font-weight: 900;
}

h2 {
    font-size: 50px;
    font-weight: 700;
}

h3 {
    font-size: 36px;
    font-weight: 700;
}

p {
    font-family: sans-serif;
    font-weight: bold;
}

/*
* * * * * * * * * * * * * * * * * * * * * * * * * *

header style

* * * * * * * * * * * * * * * * * * * * * * * * * *
 */
/*  General  */


header {
    height: 150px;
    background: url('../thriller-bark.png');
    background-size: cover;
    background-position: center;
    width: 100%;

}

header .logo {
    background-image: url('../suprhiro-logo.PNG');
    height: 150px;
    width: 150px;
    background-size: cover;
    background-position: center;
    opacity: .9;
    border-radius: 50px;
    text-align: center;



}


/* desktop */

.desktop-nav .logo {
    float: left;
    margin-left: -15px;
}

.desktop-nav li {
    display: inline-block;
    background-color: red;
    margin-left: 20px;
    padding: 0px 20px;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 5px;
}

.desktop-nav a,
.desktop-nav a:visited {
    font-family: 'Oswald', sans-serif;
    color: white;

}


.desktop-nav a:hover,
.desktop-nav a:focus,
.desktop-nav a:active {
    opacity: 0.9;
    color: blue;
    text-decoration: none;
}

.desktop-nav ul {
    float: right;
    margin-top: 10px;
    padding: 0;
    width: calc(100% - 200px);
    text-align: center;
    padding-top: 109px;

}

/* Mobile */
.mobile-nav {
    display: none;
    text-align: center;
}

.mobile-nav .logo {
    display: inline-block;
}

.mobile-nav .hamburger-container,
.mobile-nav .search-container {
    vertical-align: top;
    margin-top: 8px;
    width: 40px;
    display: inline-block;
    margin-left: -4px;
}

.mobile-nav .logo-container {
    display: inline-block;
    margin-left: -4px;
    width: calc(100% - 80px);
}

.mobile-nav button {
    background: transparent;
    border: none;
    color: white;
}

@media (max-width: 800px) {
    .mobile-nav {
        display: block;
    }

    .desktop-nav {
        display: none;
    }
}

/* Tablet styling    */


@media (min-width: 768px) and (max-width: 1200px) {

    .desktop-nav .logo {
        float: left;
        margin-left: -15px;
    }

    .desktop-nav li {
        display: inline-block;
        background-color: red;
        margin-left: 5px;
        padding: 0px 10px;
        text-transform: uppercase;
        border-radius: 5px;
        font-size: 16px;
    }

    .desktop-nav a,
    .desktop-nav a:visited {
        font-family: 'Oswald', sans-serif;
        color: white;

    }


    .desktop-nav a:hover,
    .desktop-nav a:focus,
    .desktop-nav a:active {
        opacity: 0.9;
        color: blue;
        text-decoration: none;
    }

    .desktop-nav ul {
        float: right;
        margin-top: 10px;
        padding: 0;
        width: calc(100% - 190px);
        text-align: center;
        padding-top: 115px;

    }
}

/* Hero style */

.hero {
    height: 100vh;
    background-color: #999;
    background-image: url('../rock-lee.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .5;


}


footer {
    background-color: #444;
    height: 80px;
}
